@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
$header-stack: 'Raleway', sans-serif;

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

$font-stack: 'Open Sans', sans-serif;


.favorites-container{
    padding-top: 120px;



    .header-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .favorites-h1{
        
        padding-bottom: 15px;
        font-size: 18px;
        border: 1px solid #6699cc;
        border-radius: 1.5rem;
        font-family: $header-stack;
        padding: 15px;
        margin: 10px;
        color: #3F4652;
        
    
    }
}
