@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.pending-p {
  padding-top: 140px;
}