@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

$font-stack: 'Open Sans', sans-serif;
$header-stack: 'Raleway', sans-serif;

.pending-ratings-container{
   
    
    margin-top: 120px;
    

    .header-div{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h1{
        
        border: 1px solid #6699cc;
        border-radius: 1.5rem;
        font-family: $header-stack;
        padding: 20px;
        margin: 10px;
        font-size: 18px;
        color: #3F4652;
        
    }
}
