@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

$font-stack: 'Open Sans', sans-serif;

.pending-ratings{
    padding-top: 140px;
}