@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.dono-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  color: #3F4652;

}
  .dono-button {
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        background: #4582C2;
        border: none;
        outline: 0;
        font-size: 16px;
        color: white;
        padding: 5px;
        margin-top: 10px;
        border-radius: 7px;
  
  
}

.dono-button:hover{
  opacity: .8;
}

.image {
      width: 275px;
      height: auto;
      border-radius: 10px;
      
      
}
.pricetag{
  font-size: 18px;
}

.zipcode{
  font-size: 18px;
}

.edit{
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        background: #4582C2;
        border: none;
        outline: 0;
        font-size: 16px;
        color: white;
        padding: 5px;
        margin-top: 10px;
        border-radius: 7px;
}

span{
  font-weight: bold;
}

.edit:hover{
  opacity: 8;
}


.Title{
        font-size: 28px;
        padding: 5px;
        
}


.description {
  width: 300px;
  border: 1px solid #6699cc;
  border-radius: 1.5rem;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  margin: 10px;
  font-size: 18px;

}




@media only screen and (min-width: 1300px){

.dono-container {
  height: 88.1vh;
}

.price-title {
  padding: 20px;
}

.Title {
  position: relative;
  top: 15px;
  letter-spacing: 1px;
  color: #6699cc;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}



.price {
  color: #fff;
  width: 100px;
  font-size: 20px;
  position: relative;
  left: 70vh;
  bottom: 80px;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}

.description {
  text-align: left;
  width: 600px;
  height: 200px;
  border: 1px solid #6699cc;
  border-radius: 1.5rem;
  position: relative;
  bottom: 60px;
  left: 74vh;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}

.zipcode {
  position: relative;
  bottom: 20px;
  font-family: "Open Sans", sans-serif;
}

.image {
  width: 500px;
  height: 350px;
  position: relative;
}

.backgroundimage {
  position: absolute;
  filter: blur(15%);
  -webkit-filter: blur(8px);
  height: 350px;
  background-repeat: no-repeat;
  z-index: -500;
}

.backgroundimage2 {
  position: absolute;
  left: 0;
  filter: blur(0%);
  -webkit-filter: blur(5px);
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  z-index: -500;
}

.imagebackground {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.accept-button {
  border: none;
  border-radius: .5rem;
  padding: 13px;
  background-color: #6699cc;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  bottom: 509px;
  right: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
}

.edit {
  border-radius: .5rem;
  padding: 13px;
  background-color: #6699cc;
  color: #fff;
  border: none;
}

.under-line {
  height: 1px;
  width: 200px;
  position: fixed;
  left: 680px;
  bottom: 510px;
}

.pricetag {
  white-space: nowrap;
  position: relative;
  top: 18px;
  margin: 0 5px 0 10px;
  displaY: inline-block;
  height: 25px;
  border-radius: 0 5px 5px 0;
  padding: 0 25px 0 15px;
  background: #00AB80;
  border: 0 solid #C7D2D4;
  border-top-width: 1px;
  border-bottom-width: 1px;
  color: #ffff;
  line-height: 23px;
}

.pricetag:after {
  position: absolute;
  right: 0;
  margin: 1px 7px;
  font-weight: bold;
  font-size: 19px;
  content: "\00D7";
}

.pricetag:before {
  position: absolute;
  content: "\25CF";
  color: white;
  text-shadow: 0 0 1px #333;
  font-size: 11px;
  line-height: 0px;
  text-indent: 12px;
  left: -15px;
  width: 1px;
  height: 0px;
  border-right: 14px solid #00AB80;
  border-top: 11px solid transparent;
  border-bottom: 13px solid transparent;

}
}


  
