* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Dosis", sans-serif;
}

.container {
    margin: 0 auto;
    margin-right: auto;    
    margin-left: auto;
    position: fixed;
    top:0;
    width: 100%;    
    max-width: 100%;    
    min-width: 1000px;
    height: 95px;
    background-color: #6699cc;
    margin-top: -1px;
    position: fixed;
    z-index: 100;
}


.header { 
    width: 300px;
    height: 100%;
    background-color: #6699cc;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 20% 0 0 60%; */
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

.change {
    right: 0;
}


.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 30px;
    right: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 100;
}



.dono-picture{
    display: flex;
    border-radius: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}


.dono{
    
    position: absolute;
    left: -12px;
    top: -5px;
    height: 135px;
    width: 135px;
}



.line {
    width: 100%;
    height: 3px;
    background: #fff;
    box-shadow: 0 2px 5px #4B7197;
    transition: all 0.8s;
}

.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
    background-color: #eee;
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
    background-color: #eee;
}

.header-list {
    text-align: right;
}

.header-item {
    list-style: none;
    margin: 25px;
}

.header-link {
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}
.newdono-button {
    display: flex;
    justify-content: flex-end;
    right: 20vw;
    top: 29px;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 22px;
    color: #6699cc;
    background-color:#fff ;
    border: none;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    position: fixed;
    padding: 7px;
    cursor: pointer;
    box-shadow: 0 2px 5px #4B7197;
}

.header-link::before,
.header-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffff;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.header-link::after {
    bottom: 0;
    transform-origin: right;
}

.header-link::before {
    top: 0;
    transform-origin: left;
}

.header-link:hover::before,
.header-link:hover::after{
    transform: scaleX(1);
}

@media screen and (max-width: 500px) {
    .container {
        min-width: 360px;
    }

    .newdono-button {
        left: 41%;
        width: 70px;
        height: 50px;
        top: 25px;
    }

    .header {
        width: 140px;
    }
    
}

