@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

$font-stack: 'Open Sans', sans-serif;

.register-container{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: $font-stack;
    

    h1{
        margin-top: 20px;
        font-size: 22px;
        color: #3F4652;
    }

    .logo{
        width: 150x;
        height: 150px;
        margin-top: 40px;
    }

    .input-container{
        margin-top:  1px;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        

       

        .icon{
            padding-top: 6px;
            padding-right: 10px;
            color: #CDDEEE;
            font-size: 30px;
        }

        

        input{
            font-size: 20px;
            border: none;
            outline: 0;
            border-bottom: 1px solid #CDDEEE;
            background: transparent;
            height: 35px;
            width: 215px;
            padding-left: 5px;
            margin-top: 15px;
            font-family: $font-stack;
            

            
        }

        input:hover {
            opacity: .5;
        }
    }

    .button-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        margin-right: 15px;
        

        .register-icon{
  
            padding-top: 6px;
            padding-right: 10px;
            color: #CDDEEE;
            font-size: 30px;  
        }

        .back-icon{
            padding-left: 10px;
            color: #CDDEEE;
            font-size: 30px;
            transform: scaleX(-1);
        }

        button{

            font-family: $font-stack;
            background: transparent;
            border: none;
            outline: 0;
            font-size: 28px;
            color: #88B0D7;
        }

        button:hover{
            opacity: .6;
        }

        
        
    }

    
}