@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-image: url("https://svgur.com/i/Qwb.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.login-container h1 {
  margin-top: 17px;
  font-size: 22px;
  color: #3F4652;
  font-family: "Open Sans", sans-serif;
}

.login-container .logo {
  width: 150x;
  height: 150px;
  margin-top: 40px;
}

.login-container .input-container {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-container .input-container input {
  font-size: 20px;
  border: none;
  outline: 0;
  border-bottom: 1px solid #CDDEEE;
  background: transparent;
  height: 35px;
  width: 215px;
  padding-left: 5px;
  margin-top: 7px;
  font-family: "Open Sans", sans-serif;
}

.login-container .input-container input:hover {
  opacity: .5;
}

.username-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.username-icon {
  padding-top: 6px;
  padding-right: 10px;
  color: #CDDEEE;
  font-size: 30px;
}

.password-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.password-icon {
  padding-top: 6px;
  padding-right: 10px;
  color: #CDDEEE;
  font-size: 30px;
}

.login-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  margin-right: 30px;
}

.login-button-container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  border: none;
  outline: 0;
  font-size: 28px;
  color: #88B0D7;
  font-family: "Open Sans", sans-serif;
}

.login-button-container button:hover {
  opacity: .6;
}

.login-icon {
  padding-top: 6px;
  padding-right: 10px;
  color: #CDDEEE;
  font-size: 30px;
}

.account-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  color: #3F4652;
}

.register-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  margin-right: 30px;
}

.register-button-container .register-icon {
  padding-top: 6px;
  padding-right: 10px;
  color: #CDDEEE;
  font-size: 30px;
}

.register-button-container button {
  background: transparent;
  border: none;
  outline: 0;
  font-size: 28px;
  color: #88B0D7;
  font-family: "Open Sans", sans-serif;
}

.register-button-container button:hover {
  opacity: .6;
}
/*# sourceMappingURL=Login.css.map */