
.card {
    display: flex;  
    justify-content: center;
  
  }

  .chat-form {
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    align-self: center;
    justify-content: center;
    font-family: 'Space Mono', monospace;
  }
  
  .name-field {
    margin-bottom: 40px;
    font-family: 'Space Mono', monospace;
  }

  .text-field-and-send{
    display: flex;
    box-sizing: border-box;
    height: 56px;
    align-self: center;
  }

  .text-field{
    width: 400px;
    z-index: -100px;
    padding-right: 200px;
  }
  
  .send-message-btn{
    background: transparent;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    cursor: pointer;
    justify-content: center;
    font-size: 50px;
    height: 60px;
    transform: rotate(270deg);
    background-color: #4582C1;
    color: white;
    border: none;
    border-radius: 150px;
    height: 100%;
    width: 45px;
    margin-left: -58px;
    margin-right: auto;
    margin-bottom: 80px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .send-message-btn:hover{
    box-shadow: -6px 3px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  }
  
  .render-chat {
    height: 200px;
    margin: 10px 40px;
    position: center;
    overflow-y: scroll;
    overflow-anchor: auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #6699cc;
    border-radius: 10px;
    font-family: 'Space Mono', monospace;
  }

  .render-chat::-webkit-scrollbar{
    background-color: transparent;
  }

  .render-chat::-webkit-scrollbar-track{
    background-color: transparent;
    height: 100px;
  }

  .render-chat::-webkit-scrollbar-thumb{
    background-color: #6699cc;
    border-radius: inherit;
  }
  
  .chat-message {
    color: #4582C1;
    font-family: 'Space Mono', monospace;
    text-align: left;
  }
  
  .chat-span {
    color: black;
  }

  #outlined-multiline-static{
    padding-right: 80px;
  }

  .MuiFormControl-root.MuiTextField-root.text-field{
    height: 100%;
  }


.pickup-complete{
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  background: #4582C2;
  border: none;
  outline: 0;
  font-size: 16px;
  color: white;
  padding: 5px 15px;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.pickup-complete:hover{
opacity: .9;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
/* background-color: rgb(247, 52, 52); */
}
