.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    min-height: 30rem;
    font-family: 'Space Mono', monospace;
  }
  form {
    background-color: white;
    max-width: 350px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
    font-family: 'Space Mono', monospace;
  }
  
  .name-field {
    margin-bottom: 40px;
    font-family: 'Space Mono', monospace;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background: transparent;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
  }
  
  .render-chat {
    background-color: white;
    max-width: 350px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
    font-family: 'Space Mono', monospace;
  }


  .chat-log{
    font-family: 'Space Mono', monospace;
  }
  
  .chat-message {
    color: #2f6bda;
    font-family: 'Space Mono', monospace;
  }
  
  .chat-span {
    color: black;
  }