@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}



.thumbnail-container{
  display: flex;
  justify-content: center;
}


.dono-thumbnail {
  
  position: relative;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  width: 500px;
  cursor: pointer;
  /* background-color: #4582C1; */
  background: linear-gradient(to right, #fff 165px, #4582C1 165px) ;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.dono-thumbnail:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.thumbnail-info {
  height: 90%;
  width: 50%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: white;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.button-filled-in{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: #F56476;
  
}

.button-empty{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: white;
  
}

.img-container{
  width: 145px;
  height: auto;
  
}

.thumbnail-picture{
  
  width: 100%;
  height: auto;
  padding: 5px;
  cursor: pointer;
  border-radius: 15px;
  

}

.title{
  font-size: 22px;
  font-weight: bold;
  
  
}

.bold{
  font-weight: bold;
}
