
.dono-thumbnail {
  position: relative;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 20vh;
  width: 90vw;
  cursor: pointer;
  background-color:  #3a70a5;
}

.thumbnail-info {
  height: 90%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.button-filled-in{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.button-empty{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.thumbnail-picture{
  height: 90%;
  width: 40%;
  margin: 10px;
  cursor: pointer;
}
